<h1>Add Car</h1>
<div class="row">
    <div class="col-md-5">

        <form ng-submit="CarsAddCtrl.add()">
            <div class="form-group">
                <label for="Brand">Brand</label>
                <input name="Brand" type="text" class="form-control" placeholder="Enter Brand" ng-model="CarsAddCtrl.car.Brand">
            </div>
            <div class="form-group">
                <label for="Model">Model</label>
                <input name="Model" type="text" class="form-control" placeholder="Enter Model" ng-model="CarsAddCtrl.car.Model">
            </div>
            <div class="form-group">
                <label for="PlateNumber">Plate Number</label>
                <input name="PlateNumber" type="text" class="form-control" placeholder="Enter Plate Number" ng-model="CarsAddCtrl.car.PlateNumber">
            </div>
            <a href="/cars/browse" class="btn btn-default">Cancel</a>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>