<div>

    <h1>Car List</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Brand</th>
                <th>Model</th>
                <th>Plate Number</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="car in CarsQueryCtrl.cars">
                <td>
                    <button href="/cars/edit/{{car.Id}}" class="btn btn-default btn-xs">edit</button>
                    <button ng-click='CarsQueryCtrl.remove(car.Id)' class="btn btn-danger btn-xs">delete</button>
                </td>
                <td>{{car.Brand}}</td>
                <td>{{car.Model}}</td>
                <td>{{car.PlateNumber}}</td>
                <ng-></ng->
                      
            </tr>
        </tbody>
    </table>

    <p>
        <a href="/cars/add" class="btn btn-primary">Add New Cars</a>
    </p>
</div>