
@{
    ViewBag.Title = "Countries List";
}
<div style="font-family:Arial">
    <h2>Countries List</h2>
    <ul>
        @foreach (string strCountry in (List<string>)ViewData["Countries"])
        {
            <li>@strCountry</li>
        }
    </ul>

    @Html.ActionLink("Go To Employee List", "Index", "Employee")
</div>
