@{
    ViewBag.Title = "About";
}
<div ng-controller="MessageController as msg">
    <h2>@ViewBag.Title.</h2>
    <h3>{{msg.message.about}}</h3>
</div>
<p>Use this area to provide additional information.</p>
